#name: Build & Push Images
#on:
#  push:
#    branches:
#      - main
#
#jobs:
#  checks:
#    uses: nixbuild/nixbuild-action/.github/workflows/ci-workflow.yml@v24
#    secrets:
#      nixbuild_token: ${{ secrets.NIXBUILD_SECRET }}
#      github_access_token: ${{ secrets.GH_PAT }}
#    with:
#      filter_builds: '(.top_attr == "checks" or .top_attr == "packages") and .system == "x86_64-linux"'
#
#  push-images:
#    name: Push Docker images to GHCR
#    runs-on: ubuntu-latest
#    needs: checks
#    permissions:
#      contents: read
#      packages: write
#    steps:
#      - name: Install Nix
#        uses: cachix/install-nix-action@v30
#
#      - name: Set up nixbuild.net
#        uses: nixbuild/nixbuild-action@v24
#        with:
#          nixbuild_token: ${{ secrets.NIXBUILD_SECRET }}
#
#      - name: Log in to GHCR
#        uses: docker/login-action@v3
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Copy and push rathole-server image
#        env:
#          RESULTS: ${{ needs.checks.outputs.results }}
#        run: |
#          STORE_PATH=$(echo "$RESULTS" | jq -r '.packages."x86_64-linux"."rathole-server-image".outputs.out')
#          nix copy --from ssh-ng://eu.nixbuild.net "$STORE_PATH"
#          docker load < "$STORE_PATH"
#          docker tag rathole-server:latest ghcr.io/${{ github.repository_owner }}/rathole-server:latest
#          docker tag rathole-server:latest ghcr.io/${{ github.repository_owner }}/rathole-server:${{ github.sha }}
#          docker push ghcr.io/${{ github.repository_owner }}/rathole-server:latest
#          docker push ghcr.io/${{ github.repository_owner }}/rathole-server:${{ github.sha }}
#
#      - name: Copy and push rathole-client image
#        env:
#          RESULTS: ${{ needs.checks.outputs.results }}
#        run: |
#          STORE_PATH=$(echo "$RESULTS" | jq -r '.packages."x86_64-linux"."rathole-client-image".outputs.out')
#          nix copy --from ssh-ng://eu.nixbuild.net "$STORE_PATH"
#          docker load < "$STORE_PATH"
#          docker tag rathole-client:latest ghcr.io/${{ github.repository_owner }}/rathole-client:latest
#          docker tag rathole-client:latest ghcr.io/${{ github.repository_owner }}/rathole-client:${{ github.sha }}
#          docker push ghcr.io/${{ github.repository_owner }}/rathole-client:latest
#          docker push ghcr.io/${{ github.repository_owner }}/rathole-client:${{ github.sha }}
#
## deploy-to-flyio:
##   name: Deploy rathole-server to Fly.io
##   runs-on: ubuntu-latest
##   needs: push-images
##   steps:
##     - uses: actions/checkout@v6
##
##     - name: Setup Flyctl
##       uses: superfly/flyctl-actions/setup-flyctl@master
##
##     - name: Deploy to Fly.io
##       run: flyctl deploy --remote-only --image ghcr.io/${{ github.repository_owner }}/rathole-server:${{ github.sha }}
##       env:
##         FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
